#root {
  height: 100vh; /* Utilise la hauteur de la fenêtre */
  display: flex;
  flex-direction: column; /* Aligne les enfants en colonne */
}
.main {
  flex: 1; /* Prend tout l'espace disponible entre le header et le footer */
  padding: 2rem; /* Ajoute un padding autour du main */
  display: flex; /* Permet d'ajouter des éléments à l'intérieur */
  flex-direction: column; /* Aligne le contenu du main en colonne */
  justify-content: center; /* Centre le contenu verticalement */
  align-items: center; /* Centre le contenu horizontalement */
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
